---
layout: default
---
<div class="box">
	<center>
		<img src="/assets/images/radio.png" width="100%">
		<p>tuning in...</p>
	</center>
	<table>
		{% assign all_docs = "" | split: "" %}

		{% for collection in site.collections %}
		  {% assign all_docs = all_docs | concat: collection.docs %}
		{% endfor %}

		{% assign sorted_docs = all_docs %}

		{% for item in sorted_docs %}
		  {% if item.lang == "en" and item.highlight %}
		    <tr>
		      <td>
		      	<span class="date-full">{{ item.date | date: "%m/%d/%Y" }}</span>
					<span class="date-short">{{ item.date | date: "%-m/%-d/%y" }}</span>
		      </td>
		      <td>{{ item.collection }}</td>
		      <td style="white-space: nowrap;">––⊸</td>
		      <td><a href="{{ item.url }}">{{ item.title }}</a></td>
		    </tr>
		  {% endif %}
		{% endfor %}
		{% for item in site.data.gallery %}
			{% if item.highlight %}
				<tr>
			      <td>
			      	<span class="date-full">{{ site.time | date: "%m/%d/%Y" }}</span>
						<span class="date-short">{{ site.time | date: "%-m/%-d/%y" }}</span>
			      </td>
			      <td>gallery</td>
			      <td style="white-space: nowrap;">––⊸</td>
			      <td><a href="/gallery">{{ item.file }}</a></td>
			    </tr>
		    {% endif %}
		{% endfor %}
	</table>
</div>